<%- include('partials/header') %>

<div class="container-about">
  <h1>About Me</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="/images/profile_linkedin.jpg" alt="Your Name">
    </div>
    <div class="col-md-8">
      <h2>David Lugo Maizel</h2>
      <p>
        I'm a passionate individual with a strong background in Web Development. I'm dedicated to delivering high-quality work and continuously learning and improving my skills. I believe in the power of creativity and innovation to make a positive impact.
      </p>
    </div>
    <a href="/images/David Lugo CV.pdf" target="_blank">Download my resume (PDF)</a>
  </div>
</div>