<%- include('partials/header') %>

<div class="container-project">
  <h1>Projects</h1>

  <!-- Project 1 -->
  <div class="project">
    <img src="/images/project 1.png" alt="Project 1">
    <h2>Viking E-Commerce</h2>
    <p>
      As the UI/UX designer and prototype builder for the Viking E-commerce Store, I spearheaded the creation of a captivating and user-centric online shopping experience. Collaborating with a dedicated team, I translated the brand's identity into a visually appealing and functional platform that offered customers an enjoyable and seamless shopping journey.    </p>
  </div>

  <!-- Project 2 -->
  <div class="project">
    <img src="/images/project 2.png" alt="Project 2">
    <h2>Tesla Watch App</h2>
    <p>
      As the UI/UX designer for the Tesla Locator Apple Watch app, I led the charge in crafting a seamless and visually engaging experience for Tesla enthusiasts. My design contributions were instrumental in bringing this innovative app to life, enabling Tesla owners to effortlessly track and control their vehicles from their wrists.    </p>
  </div>

  <!-- Project 3 -->
  <div class="project">
    <img src="/images/project 3.png" alt="Project 3">
    <h2>EspectroCamaleon</h2>
    <p>
      As a full-stack developer at EspectroCamaleon, I played a pivotal role in the development of a dynamic e-commerce platform. Leveraging a wide range of technologies and tools, I worked closely with the talented team to build a robust, scalable, and user-friendly platform that seamlessly integrated products, payments, and customer interactions..
    </p>
  </div>
</div>