<%- include('partials/header') %>

<div class="container-services">
  <h1>Services</h1>

  <!-- Service 1 -->
  <div class="service">
    <img src="/images/web-development.avif" alt="Service 1">
    <h2>Web Development</h2>
    <p>
      I provide top-notch web development services to help you establish a strong online presence.
    </p>
  </div>

  <!-- Service 2 -->
  <div class="service">
    <img src="/images/mobile.avif" alt="Service 2">
    <h2>Mobile App Develpoment</h2>
    <p>
     My mobile app development expertise ensures that your business can reach your audience on the go.
    </p>
  </div>

  <!-- Service 3 -->
  <div class="service">
    <img src="/images/prototype.avif" alt="Service 3">
    <h2>Web Design and Prototype</h2>
    <p>
     My Web Design and Prototyping service is your gateway to creating visually stunning and highly functional websites.    
    </p>
  </div>
</div>
